//
   Created by C on 2018-01-11.

html
    head
        title= "Dog Detector"
    body
        h1= message
        img(src=url)
        form(action='/', method='POST')
            |          URL:
            input(type='text', name='url', value='')
            input(type='submit', value='Submit')